/*

columbia blue (background) - 155, 221, 255

*/

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

:root {
  --background: rgb(155, 221, 255); 
  --foreground: rgb(160, 179, 229);
  --footerBackground: #343a40;
  --footerFont: #fff;
}

.footer-1 {
  background-color: rgb(155, 221, 255);
  border-top: 6px solid rgb(150, 211, 255);
  padding: 25px 0 25px 0;
}

.footer-2 {
  background-color: rgb(145, 201, 255);
  border-top: 6px solid rgb(140, 191, 255);
  padding: 25px 0 25px 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
